{% extends "WebShop/base.html" %}
{% block content %}

<div class="vc_row wpb_row vc_row-fluid box-info mpc-row">
    <div class="wpb_column vc_column_container vc_col-sm-4 mpc-column" data-column-id="mpc_column-5060a369f005b6a">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div data-id="mpc_icon_column-660a369f0059da"
                    class="mpc-icon-column mpc-parent-hover mpc-transition mpc-icon-column--style_3 mpc-align--left mpc-inited"
                    style="opacity: 1;">
                    <div data-id="mpc_icon-4160a369f005a35"
                        class="mpc-icon mpc-transition mpc-effect-none mpc-icon-hover mpc-inited" style="opacity: 1;">
                        <div class="mpc-icon-wrap"><i
                                class="mpc-icon-part mpc-regular mpc-transition  fa fa-cubes"></i><i
                                class="mpc-icon-part mpc-hover mpc-transition  fa fa-cubes"></i></div>
                    </div>
                    <div class="mpc-icon-column__content-wrap">
                        <div class="mpc-icon-column__content">
                            <h3 class="mpc-icon-column__heading mpc-transition">GIÁ CẢ CẠNH TRANH</h3>
                            <div class="mpc-icon-column__description mpc-transition">
                                <p>Đảm bảo giá tốt nhất thị trường.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4 mpc-column" data-column-id="mpc_column-9560a369f005e0f">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div data-id="mpc_icon_column-3160a369f005ce6"
                    class="mpc-icon-column mpc-parent-hover mpc-transition mpc-icon-column--style_3 mpc-align--left mpc-inited"
                    style="opacity: 1;">
                    <div data-id="mpc_icon-2360a369f005d1b"
                        class="mpc-icon mpc-transition mpc-effect-none mpc-icon-hover mpc-inited" style="opacity: 1;">
                        <div class="mpc-icon-wrap"><i
                                class="mpc-icon-part mpc-regular mpc-transition  fa fa-truck"></i><i
                                class="mpc-icon-part mpc-hover mpc-transition  fa fa-truck"></i></div>
                    </div>
                    <div class="mpc-icon-column__content-wrap">
                        <div class="mpc-icon-column__content">
                            <h3 class="mpc-icon-column__heading mpc-transition">GIAO HÀNG NHANH CHÓNG</h3>
                            <div class="mpc-icon-column__description mpc-transition">
                                <p>Chúng tôi cam kết giao hàng đến tay quý khách trong thời gian nhanh và đúng hẹn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4 mpc-column" data-column-id="mpc_column-4060a369f0060a3">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div data-id="mpc_icon_column-4160a369f005f88"
                    class="mpc-icon-column mpc-parent-hover mpc-transition mpc-icon-column--style_3 mpc-align--left mpc-inited"
                    style="opacity: 1;">
                    <div data-id="mpc_icon-3060a369f005fbf"
                        class="mpc-icon mpc-transition mpc-effect-none mpc-icon-hover mpc-inited" style="opacity: 1;">
                        <div class="mpc-icon-wrap"><i
                                class="mpc-icon-part mpc-regular mpc-transition  fa fa-trophy"></i><i
                                class="mpc-icon-part mpc-hover mpc-transition  fa fa-trophy"></i></div>
                    </div>
                    <div class="mpc-icon-column__content-wrap">
                        <div class="mpc-icon-column__content">
                            <h3 class="mpc-icon-column__heading mpc-transition">UY TÍN - CHẤT LƯỢNG TỐT</h3>
                            <div class="mpc-icon-column__description mpc-transition">
                                <p>Tôn chỉ hàng đầu của chúng tôi là luôn đặt chất lượng sản phẩm lên hàng đầu…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}